.wrapper
  .side-bar
    = render partial: 'shared/side_bar', locals: { group: @group }

  .chat
    .chat-header.clearfix
      .chat-header-left
        %p.chat-header-left__title
          = @group.name
        %p.chat-header-left__members
          Member：
          - @group.users.each do |user|
            = user.name
      .chat-header-right
        = link_to "Edit", edit_group_path(@group), method: :get, class: 'right-header__button'
    .messages
      = render partial: 'message', collection: @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'

