.notification
  .wrapper
    .side-bar
      .side-bar__header
        %h3.side-bar__header__name
          = current_user.id
        %ul.side-bar__header__lists
          %li.list
            = link_to new_group_path do
              = fa_icon 'pencil-square-o', class: 'icon'
          %li.list
            = link_to edit_user_path(current_user) do
              = fa_icon 'fas fa-cog', class: 'icon'
      .side-bar__groups
        = render partial: 'groups/group', locals: { group: @group }

    .chat
      .chat-header
        .chat-header-left
          .chat-header-left__title
            test1
            %ul{class:'chat-header-left__members'}
              Member：
              %li{class:'member'}mm1
              %li{class:'member'}mm2
              %li{class:'member'}mm３
        .chat-header-right
          %a.chat-header-right__button{:href => ""}
            Edit
      .messages
      .form
        %form{class:'js-form', :id => "new_message", :enctype =>"", :action=>"", :accept-charset => "UTF-8", :method=>"post"}
          %input{:name => "utf8", :type=>"hidden", :value=>""}
          %input{class:"form__message js-content", :placeholder=>"type a message", :type=>"text", :name=>"message[content]", :id=>"message_content"}

          .form__mask
            %label{class:"form__mask__image", :for =>"message_image"}
            %i{class:"fa fa-picture-o icon"}
            %input{class:"hidden js-file", :type => "file", :name => "message[image]", :id => "message_image"}
            %input{class:"form__submit", :type => "submit", :name => "commit", :value => "Send", :data-disable-with => "Send"}
