.notification
  .wrapper
    .side-bar
      .side-bar__header
        %h3.side-bar__header__name
          = current_user.id
        %ul.side-bar__header__lists
          %li.list
            = link_to new_group_path do
              = fa_icon 'pencil-square-o', class: 'icon'
          %li.list
            = link_to edit_user_path(current_user) do
              = fa_icon 'fas fa-cog', class: 'icon'
      .side-bar__groups
        = render partial: 'groups/group', locals: { group: @group }

    .chat
      .chat-header
        .chat-header-left
          .chat-header-left__title
            test1
            %ul{class:'chat-header-left__members'}
              Member：
              %li{class:'member'}mm1
              %li{class:'member'}mm2
              %li{class:'member'}mm３
        .chat-header-right
          %a.chat-header-right__button{:href => ""}
            Edit
      .messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
